:root {
  --uif-blue: #13294B;
  --uif-orange: #E84A27;
  --max-width: 1400px;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UIF specific styles */
.uif-bg-blue {
  background-color: var(--uif-blue);
}

.uif-bg-orange {
  background-color: var(--uif-orange);
}

.uif-text-blue {
  color: var(--uif-blue);
}

.uif-text-orange {
  color: var(--uif-orange);
}
